*html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 39, 72);
  position: relative; /* Posisi relatif untuk body */
  height: 100vh; /* Tinggi penuh layar */
  font-family: Arial, Helvetica, sans-serif;
}

.KALK-1 {
  position: absolute;
  top: 40%; /* Posisi vertikal, sesuaikan sesuai keinginan */
  left: 50%; /* Posisi horizontal */
  transform: translate(-50%, -50%); /* Menggeser elemen ke tengah */
  text-align: center;
}

h1 {
  font-weight: bold;
}

.h1-cal {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.h1-jod {
  margin-top: 0;
  color: yellow;
}

.Mulai-btn {
  background-color: rgb(240, 65, 65);
  border-style: solid;
  color: white;
  border-color: rgb(228, 222, 207);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 170px;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 1px;
  border-radius: 18px;
  position: absolute;
  top: 80%; /* Atur jarak dari atas */
  left: 50%; /* Posisikan horizontal di tengah */
  transform: translateX(-50%); /* Geser agar tepat di tengah */
  transition: background-color 0.15s;
}

.Mulai-btn:hover {
  background-color: rgb(223, 151, 151);
}

.lov-img {
  height: 60px;
}

#form-section {
  color: white;
}

/* //bagian form */
form {
  text-align: center; /* Tengah form secara horizontal */
  margin-top: 20px; /* Spasi di atas form */
}

label {
  display: block; /* Menampilkan label pada baris baru */
  margin-bottom: 10px; /* Jarak antara label dan input */
  font-size: 16px; /* Ukuran font label */
  color: white; /* Warna teks */
}

input {
  width: 35%; /* Lebar input relatif terhadap form */
  padding: 8px; /* Padding dalam input */
  font-size: 14px; /* Ukuran font input */
  margin-bottom: 20px; /* Jarak di bawah input */
  border: 1px solid #ccc; /* Border input */
  border-radius: 5px; /* Sudut melengkung input */
}

button {
  background-color: rgb(240, 65, 65);
  color: white;
  padding: 10px 20px;
  /* border: none; */
  border-width: 1px;
  border-radius: 18px;
  cursor: pointer;
  border-color: white;
  /* border-width: 2px; */

  font-size: 1rem;
  border-style: solid;
}

button:hover {
  background-color: rgb(223, 151, 151);
}
#result-section h1 {
  font-size: 2rem;
  color: yellow;
}

#result-section h2 {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  
}

#result-section h3 {
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
}

#result-section h4 {
  font-size: 2rem; /* Lebih besar untuk menonjolkan presentase */
  color: white;
  margin-top: 5px;
}

#compatibility-message {
  text-decoration: solid;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

#compatibility-percentage  {
  font-size: 100px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#reset-button {
  background-color: rgb(240, 65, 65);
  color: white;
  padding: 10px 20px;
  /* border: none; */
  border-radius: 18px;
  cursor: pointer;
  font-size: 1rem;
  border-width: 1px;
  border-color: white;
}

#reset-button:hover {
  background-color: rgb(223, 151, 151);
}
